<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="container">
    <div class="row">
        <div class="col">
            <h1>Sistema</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul>
                <li><a href="/add">Adicionar Cliente</a></li>
                <li><a href="/lst">Listar Clientes</a></li>
                <li><a href="/addveiculo">Adicionar Veiculo</a></li>
                <li><a href="/lstveiculo">Listar Veiculos</a></li>
                <li><a href="/addempresa">Adicionar Empresa</a></li>
                <li><a href="/lstempresa">Listar Empresas</a></li>
                <li><a href="/addfilial">Adicionar Filial</a></li>
                <li><a href="/lstfilial">Listar Filiais</a></li>
                <li><a href="/addcontrato">Adicionar Contrato</a></li>
                <li><a href="/lstcontrato">Listar Contratos</a></li>
            </ul>
        </div>
        <div class="col-10">